version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: sparkyfitness_web_1
      APP_PORT: 3004

  db:
    image: postgres:15-alpine
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR}/db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: sparky
      POSTGRES_USER: sparkyuser
      POSTGRES_PASSWORD: ${APP_PASSWORD}

  web:
    image: codewithcj/sparkyfitness-frontend:latest
    restart: on-failure
    depends_on:
      - db
      - server
    environment:
      SPARKY_FITNESS_FRONTEND_URL: http://${DEVICE_HOSTNAME}.local:3004

  server:
    image: codewithcj/sparkyfitness-server:latest
    restart: on-failure
    depends_on:
      - db
    volumes:
      - ${APP_DATA_DIR}/uploads:/app/uploads
    environment:
      SPARKY_FITNESS_DB_HOST: db
      SPARKY_FITNESS_DB_NAME: sparky
      SPARKY_FITNESS_DB_USER: sparkyuser
      SPARKY_FITNESS_DB_PASSWORD: ${APP_PASSWORD}
